{% extends 'patientbase.html' %}

{% block contents %}

<style>
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
</style>


  <div class="container">
    <!-- Example row of columns -->
    <h2>Past Patient Records </h2>
    <h3>Logged user is {{ request.session.loggeduser }}</h3>
    <table border="2px" >
            <tr>
                <th style="color: darkblue">S.No</th>
                <th style="color: darkblue">Patient ID</th>
                <th style="color:darkblue">Patient Name</th>
                <th style="color:darkblue">Email</th>
                <th style="color:darkblue">Sysmptoms</th>
                <th style="color:darkblue">Dieses</th>
                <th style="color:darkblue">Description</th>
                <th style="color:darkblue">Timestamp</th>
                <th style="color:darkblue">DoctorName</th>                
                <th style="color:darkblue">Check</th>
                
        
            </tr>
            {% for i in object %}
            <tr>
            <td style="color:brown">{{forloop.counter}}</td>
            <td style="color:darkolivegreen">{{i.patintid}}</td>
            <td style="color:brown">{{i.patinetname}}</td>
            <td style="color:brown">{{i.email}}</td>
            <td style="color:brown">{{i.patinetallsymptoms}}</td>
            <td style="color:brown">{{i.diseasname}}</td>
            <td style="color:brown;white-space: nowrap;" ><textarea>{{i.descriptions}}</textarea></td>
            <td style="color:brown">{{i.createdon}}</td>
            <td style="color:brown">{{i.docname}}</td>
            
            {% if i.status == 'given' %}                      
            <td> <a class="btn-link" href="/checkandpay/?pid={{ i.id }}" >Check</a></td>            
            {% else %}
            <td> Not Assigned</td>
            {% endif %}        
            </tr>
            {% endfor %}
            
        </table>
    
    <div class="row">
      <div class="col-md-4">
        
        <p>
          
           
        </p>
        
      </div>
     
      
    </div>
{% endblock %}