{% extends 'base.html' %}

{% block contents%}
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Converging Blockchain and Machine Learning for Healthcare</h1>
      <p>The power of machine learning in understanding the patterns in data, analyzing and making decisions, has shown its importance in various sectors. Machine Learning requires reasonable amount of data to make accurate decisions. Data sharing and reliability of data is very crucial in machine learning in order to improve its accuracy. The decentralized database in Blockchain Technology emphasizes on data sharing. The consensus in Blockchain technology makes sure that data is legitimate and secured. The convergence of these two technologies can give highly accurate results in terms of machine learning with the security and reliability of Blockchain Technology. This paper gives an overview of how combining these two technologies can help in healthcare sectors.  </p>
      <p><a class="btn btn-primary btn-lg" href="https://ieeexplore.ieee.org/document/8701230" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
  
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>INTRODUCTION</h2>
        <p>Data is a very important resource in machine learning. The data can also be used in preprocessing techniques for improving research environments. The data can be gathered from interviews, questionnaire, surveys, and studies or generated electronically over the internet. The quality as well as quantity of data improves efficiency, classification and prediction rate in machine learning. Machine Learning models have proved their significance in various sectors like healthcare, transportation, e-commerce, and marketing. It can be used for prediction and detection of diseases like cancer, diabetes etc. in healthcare.  </p>
        
      </div>
      <div class="col-md-4">
        <h2>PERMISSIONED BLOCKCHAIN</h2>
        <p>The blockchain design pattern was made famous by Bitcoin but Bitcoin is an application of blockchain technology. The blockchain technology has gone far beyond. In bitcoin transactions any node can join the network without any permission. To adopt the decentralized benefits of blockchain technology, business enterprises also needed certain level of privacy. Multiple organizations can come to a common shared platform where they can exchange business information with one another in shared and secured manner. The decentralized database where transactions get recorded in append only shared ledger has many advantages in healthcare industry. Inmedical treatment, the complete history of patient is very important and value is added when same information is accessed by different parties. The permissioned blockchain network will have following components  </p>
       
      </div>
      <div class="col-md-4">
        <h2>MACHINE LEARNING IN HEALTHCARE</h2>
        <p>Machine learning has been extensively used to benefit healthcare. Machine Learning can be used in identification of Treatment, give personalized suggestion to Patient, Outbreak Prediction etc.. User can get disease summary on the basis of symptoms entered [10]. Tokenization, removal of stop words and stemming are used as preprocessing. Many techniques have been done in this area which include SVM classifier, Naive Bayes and Decision Trees. The best result obtained has the accuracy percentage of 98.51%. The machine learning algorithm can also give lifestyle suggestion to Patient on the basis of current medical situation and medical history.  </p>
        
      </div>
    </div>
{% endblock %}